.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_Button.svg);
  background-position: center;
  background-color: #000;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  margin: 0 0 0 18px;
  transition: .6s ease-in-out;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: .6s ease-in-out;
}

@media screen and (max-width: 790px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}