.profile__name-holder {
  display: flex;
  justify-content: center;
  align-items: baseline;
  /*border: 1px solid cyan;*/
}

@media screen and (max-width: 560px) {
  .profile__name-holder {
    /*max-width: 217px;*/
    max-width: 280px;
  }
}

@media screen and (max-width: 390px) {
  .profile__name-holder {
    max-width: 217px;
    margin: auto;
  }
}