    .header__logo {
      max-width: 142px;
      min-height: 33px;
    }

    @media screen and (max-width: 790px) {
      .header__logo {
        margin-left: 30px;
      }
    }

    @media screen and (max-width: 390px) {
      .header__logo {
        max-width: 104px;
        min-height: 24px;
        margin-left: 27px;
      }
    }
