.header {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 41px;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
}

.header:after {
  content: "";
  position: absolute;
  background-color: #545454;
  opacity: 0.7;
  width: 100%;
  height: 1px;
  top: 118px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 28px;
  }

  .header:after {
    top: 83px;
  }
}
