.profile__add-button {
  position: relative;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #000;
  justify-self: end;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity 0.6s;
}

.profile__add-button:before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 22px;
  transform: translate(-1px, -12px);
}

.profile__add-button:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 22px;
  height: 2px;
  transform: translate(-11px, -2px);
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    width: 100%;
  }

  .profile__add-button:before {
    height: 16px;
    transform: translate(0, -9px);
  }

  .profile__add-button:after {
    width: 16px;
    transform: translate(-7px, -2px);
  }
}
