.profile__name {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 22px 0 16px;
  padding: 0;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 790px) {
  .profile__name {
    max-width: 270px;
    font-size: 32px;
  }
}

@media screen and (max-width: 560px) {
  .profile__name {
    max-width: 220px;
    font-size: 29px;
    margin: 22px 0 16px 10px;
  }
}

@media screen and (max-width: 390px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.22;
    margin: 22px 0 0 0;
  }
}