.popup__save-button {
  width: 358px;
  height: 50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  margin: 18px auto 0;
  cursor: pointer;
  padding: 0;
}

.popup__save-button:hover {
  background-color: #000;
  opacity: .8;
  transition: .8s ease-in-out;
}

@media screen and (max-width: 590px) {
  .popup__save-button {
    width: 84%;
  }
}

@media screen and (max-width: 390px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}