.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  row-gap: 10px;
  column-gap: 30px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: minmax(min-content, max-content);
    padding-top: 10px;
    padding-bottom: 33px;
    justify-items: center;
  }
}
