/*.card__title {
  width: cals(100% - 15px - 22px);
  font-size: 24px;
  font-weight: 900;
  line-height: calc(29 / 24);
  color: #000;
  margin-left: 21px;
  flex-basis: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}*/

.card__title {
  width: 190px;
  font-size: 24px;
  font-weight: 900;
  line-height: calc(29 / 24);
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 21px;
  margin-right: auto;
  margin-bottom: 31px;
}

