.popup__title {
  color: #000;
  font-size: 24px;
  line-height: calc(29 / 24);
  font-weight: 900;
  padding-bottom: 40px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .popup__title {
    font-size: 18px;
    line-height: calc(22 / 18);
    padding-bottom: 68px;
  }
}
