.profile__job {
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 790px) {
  .profile__job {
    display: block;
    max-width: 270px;
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 560px) {
  .profile__job {
    margin: auto;
  }
}

@media screen and (max-width: 390px) {
  .profile__job {
    margin: 14px auto 0;
  }
}